@charset "utf-8";
/* CSS Document */

body{
	color: #030303;
	font-family: 微软雅黑, 宋体, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-image: url(https://zuixiangsi.github.io/chenyifaeryoutube.github.io/img/bgs.jpg);
	background-repeat: repeat-y;
	background-attachment: fixed;
	letter-spacing: 1px;
	background-size: 100% auto;
	}
#maid {
	width: 85%;
	margin-top: 50px;
	left: auto;
	margin-left: 7.5%;
}
#maid #title {
	color: #000000;
	font-weight: bold;
	font-size: 24px;
	margin-top: 28px;
	text-shadow: 1px 1px 0.5px #FFFFFF;
}
#maid #list {
	margin-top: 28px;
}
a {
	text-decoration: none;
	color: #010101;
}
#maid .fhml a {
	font-style: normal;
	font-weight: bold;
	color: #FF0004;
	width: 500px;
	text-align: center;
}
#maid #list video {
	margin-left: 10%;
	width: 80%;
}
